body{
    background-color: aqua;
}
.links{
    background-color: red;
    width: 100%;
    border: sienna;
    padding: 10px;
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    margin-left: 35px;
   

}
.link{
    background-color: seagreen;
    margin: 30px;
    display:inline;
}